.baseTag{
    font-family: sans-serif;
}
.baseTag  h2{
    margin: 0;
    background-color: gray;
    padding:20px 5px;
    font-weight: 800;
}

.baseTag img{
    width: 300px;
}

.baseTag .text p{
margin: 0;
}

.baseTag .text blockquote{
width: 45%;
}
 
.contact{
    margin-top: 16px;
    width: 70%;
}
.contact fieldset label{
    display: block;
    margin: 5px 0;
}
.table{
    margin-top: 10px;
    width: 70%;
}
.table h3{
    margin: 0;
}

.table table{
    margin-top: 10px;
    width: 95%;
}

.footerLogo{
    background-color: gray;
}

.footerLogo img{
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

